
@font-face {font-family: "iconfont";
  src: url('./iconfonts/iconfont.woff') format('woff'), /* chrome、firefox */
  url('./iconfonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('./iconfonts/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zyksjs:before { content: "\e71b"; }

.icon-jybs:before { content: "\e7b3"; }

.icon-rwzhdd:before { content: "\e613"; }

.icon-tianjialianxiren:before { content: "\e609"; }

.icon-dianhua:before { content: "\e671"; }

.icon-zcxx:before { content: "\e649"; }

.icon-gzz:before { content: "\e683"; }

.icon-txl:before { content: "\e637"; }

.icon-tzxx:before { content: "\e607"; }

.icon-icon_user:before { content: "\e629"; }

.icon-sgbj:before { content: "\e694"; }

.icon-duanxin:before { content: "\e6e4"; }

.icon-xxbs:before { content: "\e62c"; }

.icon-zbhjfx:before { content: "\e605"; }

.icon-grzx:before { content: "\e604"; }

.icon-lsxx:before { content: "\e62a"; }

.icon-czfa:before { content: "\e600"; }

.icon-zybzfx:before { content: "\e606"; }

.icon-sglb:before { content: "\e68b"; }

.icon-shouji:before { content: "\e608"; }

